* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(245, 147, 240, 0.789);
}

/* box1 */

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-div p {
    font-size: large;
    font-weight: 550;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 90%;
}

.date-div {
    display: flex;
    justify-content: space-around;
}

/* box2 */
.main-div2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

/* article1 */
.article1 {
    width: 430px;
    height: 210px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px solid black;
}

.article1 h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    text-transform: capitalize;
}

/* article2 */
.article2 {
    width: 430px;  
    height: 210px;
    border-right: 2px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

/* article3 */
.article3 {
    width: 430px;
    height: 210px;
  
    padding-left: 15px;
    padding-right: 15px;
}
/* box3 */
.main-div3{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.article4 {
    width: 430px;
    height: 210px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px solid black;

}

.article5 {
    width: 430px;
    height: 210px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px solid black;

}
.article6  {
    width: 430px;
    height: 210px;
    padding-left: 15px;
    padding-right: 15px;

}

